@import '../../Shared/mixins.scss';
@import '../../Shared/variables.scss';

.radio-button {
  padding: 8px;
  display: flex;
  &__input {
    height: 24px;
    width: 24px;
    display: inline-block;
  }

  &__label {
    @include font-sans($textL, $color-red, 400, 120%, 0.42px);
    display: inline-block;
    padding-left: 8px;
  }
}
