@import '../Shared/mixins';
@import '../Shared/variables';

.card {
  margin: 0;
  width: 310px;
  min-height: 100px;
  box-sizing: border-box;
  padding: 24px;

  border-radius: 18px;
  box-shadow: 0px 2px 12px 0px hsla(247, 80%, 64%, 0.08);
  cursor: pointer;

  &:hover {
    box-shadow: 0px 4px 12px 0px hsla(0, 99%, 53%, 0.12);
  }

  &__badge-text {
    @include font-sans($textXS, $color-white, 300, 150%, 0.24px);
    display: inline-block;
    margin: 0;
    padding: 2px 4px;
    background-color: $color-red;
    border-radius: 4px;
  }

  &__header {
    @include font-sans($textL, $color-black, 500, 150%, 0.48px);
    margin: 0;
    padding: 12px 0;
  }

  &__text {
    @include font-sans($textXS, $color-grey, 300, 120%, 0.24px);
    margin: 0;
  }

  &__internet {
    @include font-sans($textL, $color-grey, 300, 120%, 0.24px);
    margin: 0;
    &::before {
      content: url(https://static.mts.ru/mts_rf/images/content/cards/icon_card_gb.svg);
      width: 24px;
      height: 24px;
      position: relative;
      right: 4px;
      top: 4px;
    }
  }

  &__minutes {
    @include font-sans($textL, $color-grey, 300, 120%, 0.24px);
    margin: 0;
    &::before {
      content: url(https://static.mts.ru/mts_rf/images/content/cards/icon_card_min.svg);
      width: 24px;
      height: 24px;
      position: relative;
      right: 4px;
      top: 4px;
    }
  }

  &__wifi {
    @include font-sans($textL, $color-grey, 300, 120%, 0.24px);
    margin: 0;
    &::before {
      content: url(https://static.mts.ru/mts_rf/images/content/cards/icon_card_wifi.svg);
      width: 24px;
      height: 24px;
      position: relative;
      right: 4px;
      top: 4px;
    }
  }

  &__tv {
    @include font-sans($textL, $color-grey, 300, 120%, 0.24px);
    margin: 0;
    &::before {
      content: url(https://static.mts.ru/mts_rf/images/content/cards/icon_card_tv.svg);
      width: 24px;
      height: 24px;
      position: relative;
      right: 4px;
      top: 4px;
    }
  }

  &__features {
    @include font-sans($textXS, $color-grey, 300, 120%, 0.24px);
    margin: 0;
  }

  &__price {
    @include font-sans($textXS, $color-grey, 300, 120%, 0.24px);
    display: inline-block;
    margin: 0;
  }

  &__discount {
    @include font-sans($textXS, $color-grey, 300, 120%, 0.24px);
    display: inline-block;
    margin: 0;
    padding-right: 20px;
  }

  &__conditions {
    @include font-sans($textXS, $color-grey, 300, 120%, 0.24px);
    margin: 0;
  }
}
